perspective-viewer {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 600px) {
    html {
        overflow: hidden;
    }

    body {
        position: fixed;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        touch-action: none;
    }
}